table#project-table
  thead
    tr
      th
      th
      th Name
      th Subdomain
      th Port
      th Git Repository
      th Install Command
      th Startup Command
  tbody
    each project in projects
      tr(data-id=project._id.toString())
        td: a.delete(href='#') x
        td: a.update(href='#') u
        td= project.name
        td: a(href='http://#{project.subdomain}', target='_blank')= project.subdomain
        td= project.port
        td: a(href=project.repository, target='_blank')= project.repository
        td= project.install
        td= project.startup

